:root{
    --main-color: #757575;
    --secondary-color: #212121;
    --tertiary-color: #2196F3;
    
}

body {
    background-color: #F5F5F5;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}

.page-header {
    background-color: #FFFFFF ;
}

 /* logo */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
}

.web-logo {
    color: var(--tertiary-color);
}

ul {
  list-style: none;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

/* site-nav */
.nav-current {
    color: var(--tertiary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    font-style: normal;
}

.nav-item {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    font-style: normal;
}
/* contacts */
.header-contact {
    color: var(--main-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

.mail:hover,
.mail:focus{
    color:var(--tertiary-color);
} 

.tel:hover,
.tel:focus{
    color:var(--tertiary-color)
}


/* hero */
.hero {
    background-color: #2F303A;
    
}

.hero-title {
    color:#FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color:#FFFFFF;
    background-color: var(--tertiary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    font-style: normal;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-align: center;
    border:none
}

/* section */

.main-quality {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.quality-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
}

.quality-text {
    color:var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}

/* activity-section */

.activity-title {
    color:var(--secondary-color);
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 700;
}

/* team-section */
.team-section {
    background-color: #F5F4FA;
}

.team-title {
    color:var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    font-style: normal;
}

.team-item {
    background-color: #FFFFFF;
}

.team-member {
    color:var(--secondary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    color:var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}